name: Gerar APK do Mod
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      
      # ESTE PASSO CRIA O ARQUIVO QUE ESTÁ FALTANDO NO SEU PROJETO
      - name: Gerar Gradle Wrapper JAR
        run: |
          mkdir -p gradle/wrapper
          jar cvf gradle/wrapper/gradle-wrapper.jar . 
          # O comando acima é um truque para o gradlew não dar erro de classe
        
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Grant execute permission
        run: chmod +x gradlew
        
      - name: Build APK
        run: ./gradlew assembleDebug --stacktrace
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: mod-menu-finalizado
          path: app/build/outputs/apk/debug/*.apk
